$red: rgba(244,67,54,1);
$red-75: rgba(244,67,54,.75);
$red-5: rgba(244,67,54,.5);
$red-25: rgba(244,67,54,.25);

$pink: rgba(233,30,99,1);
$pink-75: rgba(233,30,99,.75);
$pink-5: rgba(233,30,99,.5);
$pink-25: rgba(233,30,99,.25);

$purple: rgba(156,39,176,1);
$purple-75: rgba(156,39,176,.75);
$purple-5: rgba(156,39,176,.5);
$purple-25: rgba(156,39,176,.25);

$deep-purple: rgba(103,58,183,1);
$deep-purple-75: rgba(103,58,183,.75);
$deep-purple-5: rgba(103,58,183,.5);
$deep-purple-25: rgba(103,58,183,.25);

$indigo: rgba(63,81,181,1);
$indigo-75: rgba(63,81,181,.75);
$indigo-5: rgba(63,81,181,.5);
$indigo-25: rgba(63,81,181,.25);

$blue: rgba(33,150,243,1);
$blue-75: rgba(33,150,243,.75);
$blue-5: rgba(33,150,243,.5);
$blue-25: rgba(33,150,243,.25);

$light-blue: rgba(3,169,244,1);
$light-blue-75: rgba(3,169,244,.75);
$light-blue-5: rgba(3,169,244,.5);
$light-blue-25: rgba(3,169,244,.25);

$cyan: rgba(0,188,212,1);
$cyan-75: rgba(0,188,212,.75);
$cyan-5: rgba(0,188,212,.5);
$cyan-25: rgba(0,188,212,.25);

$teal: rgba(0,150,136,1);
$teal-75: rgba(0,150,136,.75);
$teal-5: rgba(0,150,136,.5);
$teal-25: rgba(0,150,136,.25);

$green: rgba(76,175,80,1);
$green-75: rgba(76,175,80,.75);
$green-5: rgba(76,175,80,.5);
$green-25: rgba(76,175,80,.25);

$light-green: rgba(139,195,74,1);
$light-green-75: rgba(139,195,74,.75);
$light-green-5: rgba(139,195,74,.5);
$light-green-25: rgba(139,195,74,.25);

$lime: rgba(205,220,57,1);
$lime-75: rgba(205,220,57,.75);
$lime-5: rgba(205,220,57,.5);
$lime-25: rgba(205,220,57,.25);

$yellow: rgba(255,235,59,1);
$yellow-75: rgba(255,235,59,.75);
$yellow-5: rgba(255,235,59,.5);
$yellow-25: rgba(255,235,59,.25);

$amber: rgba(255,193,7,1);
$amber-75: rgba(255,193,7,.75);
$amber-5: rgba(255,193,7,.5);
$amber-25: rgba(255,193,7,.25);

$orange: rgba(255,152,0,1);
$orange-75: rgba(255,152,0,.75);
$orange-5: rgba(255,152,0,.5);
$orange-25: rgba(255,152,0,.25);

$deep-orange: rgba(255,87,34,1);
$deep-orange-75: rgba(255,87,34,.75);
$deep-orange-5: rgba(255,87,34,.5);
$deep-orange-25: rgba(255,87,34,.25);

$brown: rgba(121,85,72,1);
$brown-75: rgba(121,85,72,.75);
$brown-5: rgba(121,85,72,.5);
$brown-25: rgba(121,85,72,.25);

$grey: rgba(158,158,158,1);
$grey-75: rgba(158,158,158,.75);
$grey-5: rgba(158,158,158,.5);
$grey-25: rgba(158,158,158,.25);

$white: rgba(250,250,250 ,1);
$white-75: rgba(250,250,250 ,.75);
$white-5: rgba(250,250,250 ,.5);
$white-25: rgba(250,250,250 ,.25);

$dark: rgba(33,33,33 ,1);
$dark-75: rgba(33,33,33 ,.75);
$dark-5: rgba(33,33,33 ,.5);
$dark-25: rgba(33,33,33 ,.25);

$black: rgba(0,0,0 ,1);
$black-75: rgba(0,0,0 ,.75);
$black-5: rgba(0,0,0 ,.5);
$black-25: rgba(0,0,0 ,.25);